NET"clk"LOC=AC18 | IOSTANDARD=LVCMOS18;

NET"SEGMENT[0]"LOC=AB22 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[1]"LOC=AD24 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[2]"LOC=AD23 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[3]"LOC=Y21 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[4]"LOC=W20 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[5]"LOC=AC24 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[6]"LOC=AC23 | IOSTANDARD=LVCMOS33;
NET"SEGMENT[7]"LOC=AA22 | IOSTANDARD=LVCMOS33;
NET"RC"LOC=AF24 | IOSTANDARD=LVCMOS33;

NET"AN[0]"LOC=AD21 | IOSTANDARD=LVCMOS33;
NET"AN[1]"LOC=AC21 | IOSTANDARD=LVCMOS33;
NET"AN[2]"LOC=AB21 | IOSTANDARD=LVCMOS33;
NET"AN[3]"LOC=AC22 | IOSTANDARD=LVCMOS33;
