//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 18 12:02:53 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "AB22" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "AD23" LEVEL 1;
COMP "RC" LOCATE = SITE "AF24" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "Y21" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "W20" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "AC24" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "AC23" LEVEL 1;
COMP "SEGMENT<7>" LOCATE = SITE "AA22" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "AD21" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "AC21" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "AB21" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "AC22" LEVEL 1;
SCHEMATIC END;

