NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18 ;

NET "SW[0]" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "SW[1]" LOC = AB10 | IOSTANDARD = LVCMOS15;
NET "SW[2]" LOC = AA13 | IOSTANDARD = LVCMOS15;
NET "SW[3]" LOC = AA12 | IOSTANDARD = LVCMOS15;
NET "SW[4]" LOC = Y13 | IOSTANDARD = LVCMOS15;
NET "SW[5]" LOC = Y12 | IOSTANDARD = LVCMOS15;
NET "SW[6]" LOC = AD11 | IOSTANDARD = LVCMOS15;
NET "SW[7]" LOC = AD10 | IOSTANDARD = LVCMOS15;

NET "SW1[0]" LOC = AE10 | IOSTANDARD = LVCMOS15;
NET "SW1[1]" LOC = AE12 | IOSTANDARD = LVCMOS15;
NET "SW2[0]" LOC = AF12 | IOSTANDARD = LVCMOS15;
NET "SW2[1]" LOC = AE8 | IOSTANDARD = LVCMOS15;



NET "BTN[0]" LOC = AF8 | IOSTANDARD = LVCMOS15;#SW[12]
NET "BTN[1]" LOC = AE13 | IOSTANDARD = LVCMOS15;#SW[13]

NET "BTN[0]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN[1]" CLOCK_DEDICATED_ROUTE = FALSE;

NET "SEGMENT[0]" LOC = AB22 | IOSTANDARD = LVCMOS33;#a_out
NET "SEGMENT[1]" LOC = AD24 | IOSTANDARD = LVCMOS33;#b_out
NET "SEGMENT[2]" LOC = AD23 | IOSTANDARD = LVCMOS33;#c_out
NET "SEGMENT[3]" LOC = Y21 | IOSTANDARD = LVCMOS33;#d_out
NET "SEGMENT[4]" LOC = W20 | IOSTANDARD = LVCMOS33;#e_out
NET "SEGMENT[5]" LOC = AC24 | IOSTANDARD = LVCMOS33;#f_out
NET "SEGMENT[6]" LOC = AC23 | IOSTANDARD = LVCMOS33;#g_out
NET "SEGMENT[7]" LOC = AA22 | IOSTANDARD = LVCMOS33;#point

NET "AN[0]" LOC = AD21 | IOSTANDARD = LVCMOS33;
NET "AN[1]" LOC = AC21 | IOSTANDARD = LVCMOS33;
NET "AN[2]" LOC = AB21 | IOSTANDARD = LVCMOS33;
NET "AN[3]" LOC = AC22 | IOSTANDARD = LVCMOS33;