//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 21 18:58:13 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "seg_sout" LOCATE = SITE "L24" LEVEL 1;
COMP "SEG_PEN" LOCATE = SITE "R18" LEVEL 1;
COMP "seg_clk" LOCATE = SITE "M24" LEVEL 1;
COMP "seg_clrn" LOCATE = SITE "M20" LEVEL 1;
SCHEMATIC END;

