//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 17 18:10:56 2022
//! **************************************************************************

SCHEMATIC START;
COMP "S1" LOCATE = SITE "AA10" LEVEL 1;
COMP "S2" LOCATE = SITE "AB10" LEVEL 1;
COMP "S3" LOCATE = SITE "AA13" LEVEL 1;
COMP "F" LOCATE = SITE "AF24" LEVEL 1;
SCHEMATIC END;

