NET "SW[0]" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "SW[1]" LOC=AB10 | IOSTANDARD=LVCMOS15;
NET "SW[2]" LOC=AA13 | IOSTANDARD=LVCMOS15;
NET "SW[3]" LOC=AA12 | IOSTANDARD=LVCMOS15;
NET "SW[4]" LOC=Y13  | IOSTANDARD=LVCMOS15;
NET "SW[5]" LOC=Y12  | IOSTANDARD=LVCMOS15;
NET "SW[6]" LOC=AD11 | IOSTANDARD=LVCMOS15;
NET "SW[7]" LOC=AD10 | IOSTANDARD=LVCMOS15;

NET "BIN[0]" LOC = AF13 | IOSTANDARD = LVCMOS15;#SW[14]
NET "BIN[1]" LOC = AF10 | IOSTANDARD = LVCMOS15;#SW[15]


NET "SEGMEN[0]" LOC=AB22 | IOSTANDARD=LVCMOS33;#a
NET "SEGMEN[1]" LOC=AD24 | IOSTANDARD=LVCMOS33;#b
NET "SEGMEN[2]" LOC=AD23 | IOSTANDARD=LVCMOS33;#c
NET "SEGMEN[3]" LOC=Y21  | IOSTANDARD=LVCMOS33;#d
NET "SEGMEN[4]" LOC=W20  | IOSTANDARD=LVCMOS33;#e
NET "SEGMEN[5]" LOC=AC24 | IOSTANDARD=LVCMOS33;#f
NET "SEGMEN[6]" LOC=AC23 | IOSTANDARD=LVCMOS33;#g
NET "SEGMEN[7]" LOC=AA22 | IOSTANDARD=LVCMOS33;#point

NET "AN[0]" LOC=AD21 | IOSTANDARD=LVCMOS33;
NET "AN[1]" LOC=AC21 | IOSTANDARD=LVCMOS33;
NET "AN[2]" LOC=AB21 | IOSTANDARD=LVCMOS33;
NET "AN[3]" LOC=AC22 | IOSTANDARD=LVCMOS33;
